html
    head
        title login

    body
        form(action="/authorize" method="post")
            input(type="hidden", name="redirect_uri" value=redirect_uri)
            label username
            input(type="text" name="username")
            label password
            input(type="password", name="password")
            button submit